<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jx.androiddemo">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 唤醒锁 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.mplanet.testhandler.READ_CONTENT" />
    <uses-permission android:name="com.mplanet.testhandler.WRITE_CONTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.main.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".testactivity.function.f1.F1Activity" />
        <activity android:name=".testactivity.function.f2.F2Activity" />
        <activity android:name=".testactivity.function.f3.F3Activity" />
        <activity android:name=".testactivity.function.f4.F4Activity" />
        <activity android:name=".testactivity.function.f4.CameraActivity" />
        <activity android:name=".testactivity.function.f4.Camera2Activity" />
        <activity android:name=".testactivity.function.f4.Camera3Activity" />
        <activity android:name=".testactivity.function.f5.F5Activity" />
        <activity android:name=".testactivity.function.f6.F6Activity" />
        <activity android:name=".testactivity.function.f7.F7Activity" />
        <activity android:name=".testactivity.function.f8.F8Activity" />
        <activity android:name=".testactivity.function.f9.F9Activity" />
        <activity android:name=".testactivity.function.f10.F10Activity" />
        <activity android:name=".testactivity.function.f11.F11Activity" />
        <activity android:name=".testactivity.function.f12.F12Activity" />
        <activity android:name=".testactivity.function.f13.F13Activity" />
        <activity android:name=".testactivity.function.f14.F14Activity" />
        <activity android:name=".testactivity.function.f15.F15Activity" />
        <activity android:name=".testactivity.function.f16.F16Activity" />
        <activity android:name=".testactivity.function.f17.F17Activity" />
        <activity android:name=".testactivity.function.f18.F18Activity" />
        <activity android:name=".testactivity.function.f19.F19Activity" />
        <activity android:name=".testactivity.function.f20.F20Activity" />
        <activity android:name=".testactivity.function.f21.F21Activity" />
        <activity android:name=".testactivity.function.f22.F22Activity" />
        <activity android:name=".testactivity.function.f23.F23Activity" />
        <activity android:name=".testactivity.function.f24.F24Activity" />
        <activity android:name=".testactivity.function.f25.F25Activity" />
        <activity android:name=".testactivity.function.f26.F26Activity" />
        <activity android:name=".testactivity.function.f27.F27Activity" />
        <activity android:name=".testactivity.function.f28.F28Activity" />
        <activity android:name=".testactivity.function.f29.F29Activity" />
        <activity android:name=".testactivity.function.f30.F30Activity" />

        <activity android:name=".testactivity.ui.u1.U1Activity" />
        <activity android:name=".testactivity.ui.u2.U2Activity" />
        <activity android:name=".testactivity.ui.u3.U3Activity" />
        <activity android:name=".testactivity.ui.u3.U3_1Activity" />
        <activity android:name=".testactivity.ui.u4.U4Activity" />
        <activity android:name=".testactivity.ui.u5.U5Activity" />
        <activity android:name=".testactivity.ui.u6.U6Activity" />
        <activity android:name=".testactivity.ui.u7.U7Activity" />
        <activity android:name=".testactivity.ui.u8.U8Activity" />
        <activity android:name=".testactivity.ui.u9.U9Activity" />
        <activity android:name=".testactivity.ui.u10.U10Activity" />
        <activity
            android:name=".testactivity.ui.u11.U11Activity"
            android:theme="@style/Transparent2" />
        <activity
            android:name=".testactivity.ui.u12.U12Activity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".testactivity.ui.u13.U13Activity" />
        <activity android:name=".testactivity.ui.u14.U14Activity" />
        <activity android:name=".testactivity.ui.u15.U15Activity" />
        <activity android:name=".testactivity.ui.u16.U16Activity" />
        <activity android:name=".testactivity.ui.u17.U17Activity" />
        <activity android:name=".testactivity.ui.u18.U18Activity" />
        <activity android:name=".testactivity.ui.u19.U19Activity" />
        <activity android:name=".testactivity.ui.u20.U20Activity" />
        <activity android:name=".testactivity.ui.u21.U21Activity" />
        <activity android:name=".testactivity.ui.u22.U22Activity" />
        <activity android:name=".testactivity.ui.u23.U23Activity" />
        <activity android:name=".testactivity.ui.u24.U24Activity" />
        <activity android:name=".testactivity.ui.u25.U25Activity" />
        <activity android:name=".testactivity.ui.u26.U26Activity" />
        <activity android:name=".testactivity.ui.u27.U27Activity" />
        <activity android:name=".testactivity.ui.u28.U28Activity" />
        <activity android:name=".testactivity.ui.u29.U29Activity" />
        <activity android:name=".testactivity.ui.u30.U30Activity" />

        <!-- aidl -->
        <service
            android:name="com.jx.androiddemo.aidl.MessengerService"
            android:process=":remote" />
        <service
            android:name="com.jx.androiddemo.aidl.BookManagerService"
            android:process=":remote" />


        <!-- IntentService -->
        <service
            android:name=".testactivity.function.f9.RSSPullService"
            android:exported="false" />


        <!-- IntentService -->
        <service android:name=".testactivity.function.f11.MyIntentService" />

        <receiver android:name=".testactivity.function.f11.AlarmReceiver" />
        <receiver android:name=".testactivity.function.f11.SampleBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jx.androiddemo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- contentProvider -->
        <provider
            android:name=".testactivity.function.f17.DemoContentProvider"
            android:authorities="com.jx.androiddemo"
            android:exported="true"
            android:grantUriPermissions="true"
            android:process=":provider"
            android:readPermission="com.mplanet.testhandler.READ_CONTENT"
            android:writePermission="com.mplanet.testhandler.WRITE_CONTENT" />

        <!-- service -->
        <service
            android:name=".testactivity.function.f18.MyService"
            android:process=":remote" />
    </application>

</manifest>